@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Employee's Operation Corp.<br />
    Dallas, TX 75034-6399<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:Admin@employeeoperations.com">Admin@employeeoperations.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@employeeoperations.com">Support@employeeoperations.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@employeeoperations.com">Marketing@employeeoperations.com</a>
</address>